MATRIX_HOMESERVER="https://matrix.mydomain.com"
BOT_USER_ID="@Bot:matrix.mydomain.com" # The account of your bot
BOT_PASSWORD="************" # The password of the account of your bot
ROOM_ID="!room_id:matrix.mydomain.com" # Room id where your bot should have access to
STORE_PATH=./store
CONFIG_PATH=./bot_credentials.json
KNOWN_USER="@user:matrix.mydomain.com" # This is your account, so the bot only response to your messages in the room
SYNC_TOKEN_PATH=./sync_token.json